.navbar {
  display: flex;
  justify-content: space-between;
  position: fixed;
  align-items: center;
  background-color: rgb(255, 255, 255);
  padding: 10px 20px;
  font-family: 'Gloock', serif;
  margin: 0;
  top: 0; 
  left: 0; 
  width: 100%; 
  z-index: 1000; 
}

.logo {
  height: 3rem;
}

.nav-links {
  display: flex;
  gap: 2.3rem;
  align-items: center;
  padding-right: 2rem;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
}

.nav-links i {
  font-size: 1.5rem;
  color: black;
}

.nav-links a:hover,
.nav-links i:hover {
  color: #037754;
}
